*{
    margin: 0px;
    padding: 0px;
}

main {
    background-color: bisque;
}

header{
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
 width: 20px;
}

ul li{
    list-style: none;
    margin: 0 10px;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #667085;
}

.botao a {
    text-decoration: none;
}

.botao1 {
    color: #667085;
}

.botao2 {
    color: white;
    background: #8e2424;
    border: 1px solid #8e2424;
    border-radius: 5px;
    padding: 10px;
}

.letras{
    text-align: center;
    margin:  50px;
}

p{
    color: #8e2424;
    margin: 10px 0;
}

h1{
    margin: 30px 0;
}

h3{
    color: #667085;
}



.pt3{
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    
}

.pt2{
    border: transparent solid 5px;
}

.p1{
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: #8e2424;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
}

.p2{
    font-family: 'inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.p3{
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.pt1{
    border: transparent solid 5px;
}

.p4{
        font-family: 'inter';
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 72px;
        color: #8e2424;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 12px 0px;
    }

.p5{
        font-family: 'inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #101828;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 8px 0px;
    }

.p6{
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.pt0{
    border: transparent solid 5px;
}

.p7{
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: #8e2424;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
}

.p8{
    font-family: 'inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.p9{
font-family: 'inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #667085;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.pt00{
    border: transparent solid 5px;
}

.p10{
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: #8e2424;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
}

.p11{
    font-family: 'inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.p12{
font-family: 'inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #667085;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}
